@import url("https://unpkg.com/ress/dist/ress.min.css");

// color
$black: black;
$typography-black: #333;
$white: white;
$primary: mediumslateblue;

$colors: (
    black: $black,
    typography-black: $typography-black,
    white: $white,
    primary: $primary
);

// typography
body {
    font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro",
        // for iOS
            "游ゴシック Medium",
        "Yu Gothic Medium",
        // for Windows
            sans-serif; // default
    font-weight: 300;
    color: $typography-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    color: $black;
}

a {
    color: inherit;

    &:hover {
        color: $primary;
    }
}

// layout
$pc-width: 984px;

@mixin container($padding) {
    display: flex;
    justify-content: center;
    padding-left: $padding;
    padding-right: $padding;

    & > div {
        max-width: $pc-width;
        flex: 1;

        @content;
    }
}

// nav
nav {
    position: sticky;
    top: 0;
    background-color: white;
    height: 48px;
    box-shadow: 0 0 2px 2px rgba($black, 0.1);

    @include container(1rem) {
        display: flex;
        align-items: center;

        & > a {
            text-decoration: none;
        }

        .nav-menu {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            a {
                margin-left: 1rem;
                text-decoration: none;
            }
        }
    }
}

// header
header {
    @include container(1rem) {
        h1 {
            text-align: center;
            max-width: 42rem;
            margin: 6rem auto;

            img {
                max-width: 256px;
                height: auto;
            }
        }
    }
}

// article
article {
    @include container(2rem) {
        section {
            margin: 2rem 0;
        }
    }
}

// footer
footer {
    padding-bottom: 0.5rem;

    @include container(1rem) {
        text-align: right;
        color: rgba($black, 0.4);
    }
}

// button
@each $name, $color in $colors {
    .button-#{$name} {
        padding: 0.25rem 1rem;
        border: 1px solid rgba($color, 0.6);

        &:hover {
            color: $black;
            border-color: $color;
        }
    }
}

// codemirror
.CodeMirror {
    border: 1px solid #eee;
    height: auto !important;
}
