// reset
@import url("https://unpkg.com/ress/dist/ress.min.css");

// color
$black: black;
$white: white;
$primary: mediumslateblue;
$danger: tomato;

$colors: (
    black: $black,
    typography-black: $black,
    white: $white,
    primary: $primary,
    danger: $danger
);

// typography
body {
    font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro",
        // for iOS
            "游ゴシック Medium",
        "Yu Gothic Medium",
        // for Windows
            sans-serif; // default
    font-weight: normal;
    color: rgba($black, 0.8);
    line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgba($black, 0.2);

    &:hover {
        color: $primary;
    }
}

@each $name, $color in $colors {
    .#{$name} {
        color: $color;
    }
}

// layout
$pc-width: 984px;
$sp-width: 750px;

@mixin container($padding) {
    padding-left: $padding;
    padding-right: $padding;

    & > div {
        max-width: $pc-width;
        margin-left: auto;
        margin-right: auto;

        @content;
    }
}

@mixin pc() {
    @media screen and (min-width: $sp-width + 1px) {
        @content;
    }
}

@mixin sp() {
    @media screen and (max-width: $sp-width) {
        @content;
    }
}

// nav
$nav-height: 48px;
nav {
    position: sticky;
    top: 0;
    background-color: white;
    height: $nav-height;
    box-shadow: 0 0 2px 2px rgba($black, 0.1);
    z-index: 99;

    @include container(1rem) {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > a {
            border-bottom: none;
        }

        h1 {
            font-weight: normal;
        }

        .nav-menu {
            @include pc() {
                flex: 1;
                display: flex;
                justify-content: flex-end;

                a {
                    margin-left: 1rem;
                    border-bottom: none;
                }
            }

            @include sp() {
                position: absolute;
                top: $nav-height;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                height: 0;
                overflow-y: hidden;
                background-color: $white;
                text-align: center;
                transition: height 0.3s;

                &.active {
                    height: calc(100vh - #{$nav-height});
                }

                a {
                    border-bottom: none;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .hamburger-button {
            @include pc() {
                display: none;
            }

            @include sp() {
                cursor: pointer;
            }
        }
    }
}

.anchor-link {
    margin-top: -#{$nav-height};
    padding-top: $nav-height;
}

// breadcrumb
.breadcrumb {
    @include container(1rem) {
        margin-top: 1rem;
        font-size: small;

        .breadcrumb-item {
            display: inline;
            margin-left: 0;

            &:not(:last-child)::after {
                content: " / ";
            }
        }
    }
}

// header
header {
    @include container(1rem) {
        h1 {
            text-align: center;
            max-width: 42rem;
            margin: 6rem auto;
            font-weight: normal;

            img {
                max-width: 256px;
                height: auto;
            }
        }
    }
}

// notfound
.not-found {
    @include container(1rem) {
        h1 {
            text-align: center;
            max-width: 42rem;
            margin: 6rem auto;
            font-weight: normal;

            img {
                max-width: 256px;
                height: auto;
            }
        }
    }
}

// list
li {
    margin-left: 40px;
}

// article
article {
    @include container(1rem) {
        section {
            margin: 2rem 0;
        }
    }
}

// footer
footer {
    padding-bottom: 0.5rem;

    @include container(1rem) {
        text-align: right;
        color: rgba($black, 0.4);
    }
}

// button
@each $name, $color in $colors {
    .button-#{$name} {
        padding: 0.25rem 1rem;
        border: 1px solid rgba($color, 0.6);

        &:hover {
            color: $black;
            border-color: $color;
        }
    }
}

// container
@each $name, $color in $colors {
    .container-#{$name} {
        border: 1px solid rgba($color, 0.6);
        padding: 0.5rem 1rem;
    }
}

// codemirror
.CodeMirror {
    border: 1px solid rgba($black, 0.1);
    height: auto !important;
}

// tableofcontents
.table-of-contents {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgba($black, 0.1);
    padding: 0.5rem 1rem;

    &::before {
        content: "目次";
        font-weight: bold;
    }

    &,
    ol {
        counter-reset: ol-counter;

        li {
            position: relative;
            list-style: none;

            &::before {
                counter-increment: ol-counter;
                content: counters(ol-counter, ".");
                padding-right: 0.5rem;

                position: absolute;
                top: 0;
                left: -40px;

                display: inline-block;
                text-align: right;
                width: 40px;
            }
        }
    }
}

// article-list
.article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

// article-card
.article-card {
    display: inline-block;
    width: 280px;
    margin: 1rem;
    border-bottom: none;

    img {
        width: 100%;
        height: auto;
    }

    h3 {
        margin-bottom: 1rem;
    }

    p {
        margin: 0;
    }
}

// articles.show
.articles-show {
    margin-top: 2rem;

    h1 {
        margin-bottom: 2rem;
    }

    .content {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid rgba($black, 0.1);
        margin-bottom: 2rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 1rem;
        }

        & > p,
        & > ul,
        & > ol,
        img {
            margin-bottom: 2rem;
        }

        img {
            max-width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            //word-break: break-all;
        }

        pre,
        code {
            font-family: monospace;
        }

        code {
            background-color: rgba($black, 0.1);
        }

        .prettyprint {
            border-radius: 3px;
            border-color: #ddd;
            margin-bottom: 2rem;
            overflow: auto;

            ol.linenums > li {
                list-style-type: decimal;
            }
        }
    }

    .author {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        img {
            width: 128px;
            height: 128px;
            margin: 0.5rem 1rem;
        }

        div {
            max-width: 640px;
            margin: 0.5rem 1rem;
        }
    }
}

// privacy
.privacy {
    margin-top: 2rem;

    h1,
    p {
        margin-bottom: 2rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
